<!DOCTYPE html>
<html>
<head>
    <title>Facebook Auto Poster</title>
</head>
<body>
    <h1>Facebook Page Auto Poster</h1>
    <form method="POST" enctype="multipart/form-data">
        <label>Facebook Page Access Token:</label><br>
        <input type="text" name="page_token" required><br><br>

        <label>Interval between posts (seconds):</label><br>
        <input type="number" name="interval" value="60" min="10"><br><br>

        <label>Upload Images (multiple):</label><br>
        <input type="file" name="images" multiple required><br><br>

        <label>Upload Text Files (one message per file, multiple):</label><br>
        <input type="file" name="texts" multiple required><br><br>

        <button type="submit">Start Posting</button>
    </form>

    <h2>Running Threads</h2>
    <ul>
        {% for token, data in running_threads.items() %}
            <li>
                {{ token[:10] }}... 
                <a href="{{ url_for('stop', page_token=token) }}">Stop</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
